    <p><a href="javascript:history.go(-1)">Back</a></p>
    <h3><%= @recipe[:ZNAME] %> </h3>
    <p>Cooking time:<%= @recipe[:ZCOOKINGTIME] %> </p>
    <p>Directions:</p>
    <p><%= @recipe[:ZDIRECTIONS] %> </p>
    <p>Notes:</p>
    <p><%= @recipe[:ZNOTES] %> </p>
    <br />
    <p><a href="javascript:history.go(-1)">Back</a></p>
